@media only screen and (max-width: 600px){
    .container{
        min-height: 100vh;
    }
    .text-bigger{
        font-size: 9vw;
    }
    *{
        font-size: 4.5vw;
    }
    body{
        width: 100vw;
    }
}
@media only screen and (max-width: 400px){
    .text-bigger{
        font-size: 10vw;
    }
    *{
        font-size: 5vw;
    }
}
@media only screen and (max-width: 270px){
    .text-bigger{
        font-size: 12vw;
    }
    *{
        font-size: 6vw;
    }
}