.header{
    max-height: 20vh;
    display: flex;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

.logo{
    flex-grow: 0;
    align-self: left;
    height: 80%;
    margin-right: 5%;
    margin-left: 5%;
}

.nav-menu{
    flex-grow: 1;
}

.nav-menu ul{
    display: flex;
    justify-content: space-between;
}

.nav-menu li{
    flex-grow: 1;
    list-style-type: none;
}

.hamburger-icon{
    display: none;
    font-size: 50px;
    flex-grow: 0;
    text-align: right;
    cursor: pointer;
}

.dropdown-menu{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 7vh;
    left: calc(100vw - 200px);
    height: 40vh;
    width: 150px;
}

.dropdown-menu ul{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    background-color: #333;
    margin: 0;
    padding: 20px;
}

.dropdown-menu li{
    flex-grow: 1;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
