:root{
    --bw: 0.5vw;
}
.container{
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
}
.cnt1, .cnt3, .cnt5{
    flex-direction: column;
}
.cnt1{
    width: 100%;
    background-color: black;
    min-height: 110vw;
}
.cnt5{
    width: calc((100% - 2*var(--bw))*2/3);
    flex-grow: 0;
}
.item{
    margin: calc(var(--bw)) calc(var(--bw)) calc(var(--bw)) calc(var(--bw));
}
.it1{
    min-height: calc((110vw - 5*var(--bw))*2/11);
    flex: 0 0 calc((100% - 5*var(--bw))*2/11);
}
.it2{
    margin-top: 0;
    flex: 0 0 calc((100% - 4*var(--bw))/4);
}
.it3{
    flex: 0 0 calc((100% - var(--bw))*6/7);
    margin: 0 0 var(--bw) 0;
}
.it4{
    margin: 0 var(--bw);
    flex: 0 0 calc((100% - 2*var(--bw))/3);
}
.it5{
    margin: 0;
    flex: 0 0 calc((100% - var(--bw))/7);
}
.it6{
    margin-left: 0;
    flex-basis: calc((100% - 3*var(--bw))*2/9);
}